@model IEnumerable<Cart>


{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Navbar -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


    <script src="js/script.js"></script>
</head>
<body>
    <h1>Index</h1>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            @*<th>Total</th>*@
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.ProductQuantity</td>
                @* <td>
                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.Id">+</a>
                    <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.Id">-</a>
                    <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.Id">Remove</a>
                    </td>*@
                <td>@item.ProductPrice.ToString()</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                    <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                    @*<a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>*@
                </td>
            </tr>
        }

     <tr>
        <td class="col-sm-4">
            <a class="btn btn-danger" asp-controller="ProductCart" asp-action="Delete">Clear Cart</a>
        </td>
        <td>
            <a class="btn btn-success" onclick=" confirmAlert();">Checkout</a>
        </td>
    </tr>
    </table>

</body>

<script>
    $(document).ready(function () {
        $('footer').empty();
       
    });


    function confirmAlert() {
        Swal.fire({
            title: 'Do you want to checkout?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Checkout',
            denyButtonText: `Don't Checkout`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                Swal.fire('Checked Out!', '', 'success')
                let x = document.getElementById("modalContainer");
                if (x.className === "modal-container") {
                    x.className += " clicked-modal";
                } else {
                    x.className = "modal-container";
                }
            } else if (result.isDenied) {
                Swal.fire('Item Not Reserved', '', 'info')
                let x = document.getElementById("modalContainer");
                if (x.className === "modal-container") {
                    x.className += " clicked-modal";
                } else {
                    x.className = "modal-container";
                }
            }
        })
    }
</script>
</html>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
}
